# ── App ───────────────────────────────────────────────────────────────────────
NODE_ENV=development

# ── Database ──────────────────────────────────────────────────────────────────
DATABASE_URL=postgresql://staaash:staaash@localhost:5432/staaash

# ── Storage ───────────────────────────────────────────────────────────────────
UPLOAD_LOCATION=./.data/files

# ── Security ──────────────────────────────────────────────────────────────────
# Change this — used to sign auth tokens
AUTH_SECRET=change-me

################################################################################
# Use this only for local development.
