@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    @apply bg-background font-sans text-foreground;
  }

  body {
    @apply min-h-screen bg-background text-foreground;
  }

  h1,
  h2,
  h3 {
    @apply font-heading;
  }

  code,
  kbd,
  samp,
  pre {
    @apply font-mono;
  }

  a:focus-visible,
  button:focus-visible,
  input:focus-visible,
  select:focus-visible {
    outline: 2px solid color-mix(in oklab, var(--ring) 62%, transparent);
    outline-offset: 4px;
  }

  ::view-transition-group(root) {
    animation-duration: 0.7s;
    animation-timing-function: var(--ease-expo-out);
  }

  ::view-transition-new(root) {
    animation-name: reveal-light;
    animation-fill-mode: both;
  }

  ::view-transition-old(root),
  .dark::view-transition-old(root) {
    animation: none;
    animation-fill-mode: both;
    z-index: -1;
  }

  .dark::view-transition-new(root) {
    animation-name: reveal-dark;
    animation-fill-mode: both;
  }

  @keyframes reveal-dark {
    from {
      clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
    }
    to {
      clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
    }
  }

  @keyframes reveal-light {
    from {
      clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
    }
    to {
      clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
    }
  }
}
